<script>
    function beginTutorial() {
        //clear help finish modal if necessary.
        document.getElementById('modal-finish-guest').style.display = 'none';
        document.getElementById('modal-finish-user').style.display = 'none';
        localStorage.setItem('is_help', 'true');
        data = sendAndReceiveXML(`help=true`);
        document.getElementById('prompts-title-heading').innerText = 'Tutorial';
        document.getElementById('prompts-count-remainder').innerText = '/2'

        renderLinks(data.prompt, data.results)
        clearBoxes()
        renderPrompts(data.jumpsArray, data.wordsArray, data.startTargetIdxs, data.prompt)
        activateLinks()
        addHelpFocuses(data.prompt, data.results)
    }

    function renderLogin(email) {
        localStorage.setItem('logged_in', email);
        localStorage.setItem('is_help', false);
        document.getElementById('logged_in-username').textContent = email;
        // const loginWelcome = document.getElementById('login-welcome');
        // loginWelcome.style.display = 'flex';
        // loginWelcome.querySelector('.welcome-email').textContent = text.email;
        // document.getElementById('guest-buttons').style.display = 'none';
        // document.getElementById('logged_in-buttons').style.display = 'flex';
        // Change the sign in text to profile
        const profileSwitchContainer = document.querySelector('.switchContainer[onclick="renderProfile()"] p');
        if (profileSwitchContainer) {
            profileSwitchContainer.textContent = 'profile';
        }
    }
</script>
<div id="help" class="help">
    <!-- <img src="/static/images/start_0.png" class="help-bg-image help-bg-image-0" alt="">
    <img src="/static/images/start_1.png" class="help-bg-image help-bg-image-1" alt=""> -->
    <!-- <img src="/static/images/start_2.png" class="help-bg-image help-bg-image-2" alt=""> -->

    <div class="help-close" onclick="closeModal('help')">✕</div>
    <div class="help-container">
        <h1 class="finish-summary">How to play</h1>
        <div class='help-text'>
            <p>Connect unrelated words via neighbors. </p>
            <p class='--grayed-out'>fruit ⟶ orchard ⟶ house ⟶ porch</p>
            <p>Neighbors are related, but don't have the same meaning.</p>
            <p class='--grayed-out'>whisper ⟶ shouting ⟶ scuffle</p>
            <p>First person to finish wins. </p>
        </div>
        <div class="logged_in-buttons" id="logged_in-buttons">
            <p>Logged in as <span id="logged_in-username"></span></p>
        </div>
        <!-- <div class="guest-buttons" id="guest-buttons"> -->
            <!-- <button onclick="closeModal('help'); beginTutorial()" class=" switch switch--outlined tutorial">tutorial</button> -->
            <!-- <p class="credits">Built with word2vec and Google Books.</p> -->
            <!-- <script src="https://accounts.google.com/gsi/client" async></script> -->
            <!-- <div id="g_id_onload"
            data-client_id="490339325235-2colln65cgm89aue0mihetv8upkmr5bl.apps.googleusercontent.com"
            data-login_uri="https://word.golf/login/google"  
            data-auto_prompt="false"> 
            </div> -->

            <!-- <div class="g_id_signin" data-type="standard" data-size="large" data-theme="outline"
                data-text="sign_in_with" data-shape="rectangular" data-logo_alignment="left">
            </div> -->
        <!-- </div> -->
        <div class="help-footer-div">
         <p><a href="https://tally.so/r/mV7Yay" target="_blank" rel="noopener">leave feedback</a></p> 
         </div>
    </div>
</div>