__pycache__
application/__pycache__

#Ignore process files
process/freq_gbooks/1mil_gbooks.txt
process/sbert/embed_ner_web_trf.csv
process/sbert/embed_all-MiniLM-L6-v2.csv
process/test_sbert/embed_all-MiniLM-L6-v2.csv
process/test_sbert/embed_all-mpnet-base-v2.csv
process/test_sbert/top_100_all-MiniLM-L6-v2.csv
process/test_sbert/top_100_all-mpnet-base-v2.csv
process/w2v/*

application/data/candidates_filtered.txt
application/data/candidates.txt
application/data/*.py

application/data/embed_w2v_16.csv

#Ignore environment files
env
test_env
devenv
duenv

