__pycache__
application/__pycache__
env
process/freq_gbooks/1mil_gbooks.txt
process/sbert/embed_ner_web_trf.csv
process/sbert/embed_all-MiniLM-L6-v2.csv
devenv

duenv
process/test_sbert/*
process/w2v/embed_w2v.csv
process/w2v/gnews_w2v_300.bin
process/w2v/gnews_w2v_300.kv
process/w2v/gnews_w2v_300.kv.vectors.npy