<div id="gameOverModal">
<div>
<h1>Summary</h1>
<p id="gameOverText"></p>
<p>Thanks for playing!</p>
<!-- <p>Share your score:</p>
<div id="share-buttons">
    <a href="https://twitter.com/intent/tweet?text=I+came+up+with+{{ entries|length }}+different+sentences+playing+inter.ject!+Try+it+here%3A+http%3A%2F%2F127.0.0.1%3A5000" target="_blank">Twitter</a>
    <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A5000" target="_blank">Facebook</a>
    <a href="#" onclick="copyEntries()" style="text-decoration: underline; cursor: pointer;">Copy sentences</a>
</div> -->
    <button onclick="document.getElementById('gameOverModal').style.display='none'">Close</button>
</div>
</div>
