<script>
    //NB: flex is assumed to be default display mode
    function toggleElement(id) {
        const el = document.getElementById(id);
        el.style.display = (el.style.display === 'flex') ? 'none' : 'flex';
    }
    function toggleModal(id) {
        const el = document.getElementById(id);
        if (el.style.display === 'flex') {
            console.log("closing modal with id:", id);
            closeModal(id);
        } else {
            console.log("opening modal with id:", id);
            openModal(id);
        }
    }
    function closeModal(id) {
        const el = document.getElementById(id);
        el.style.display = 'none';
    }
    function openModal(id) {
        const modals = ['help', 'modal-finish-user', 'modal-finish-guest', 'modal'];
        modals.forEach(mid => {
            const modalEl = document.getElementById(mid);
            if (modalEl) modalEl.style.display = 'none';
        });
        const el = document.getElementById(id);
        el.style.display = 'flex';
    }

    BASE_JUMPS_ARRAY = [[1, 0, 0, 0, 0, 1],
    [0, 0, 0, 0, 0, 0],
    [0, 0, 0, 0, 0, 0],
    [0, 0, 0, 0, 0, 0],
    [0, 0, 0, 0, 0, 0]]

    async function renderSkip() {
        try {
            const res = await fetch("/skip", {
                method: "POST",
                credentials: "include",
                headers: {
                    'Content-Type': 'application/json'
                },
            });
            const data = await res.json();
            if (res.ok) {
                console.log("Clicked skip button");
                console.log("Here is data: ", data);
                let is_help = localStorage.getItem('is_help');
                // otherwise do nothing 
                if ("results" in data && is_help === 'false') {
                    renderPrompts(data.jumpsArray, data.wordsArray, data.startTargetIdxs, data.start_target, data.done);
                    renderLinks(data.prompt, data.results, data.current_prompt, data.done);
                    activateLinks();
                } else {
                    console.log("Bad skip button -> failed or is not allowed")
                }
                // Hide the skip button after skipping
                // document.getElementById("skip-button").style.display = "none";

            } else {
                console.log("Skip failed:", data);
            }
        } catch (err) {
            console.log("Error during skip: ", err);
        }
    }

    function renderProfile() {
        // gameInProgress = localStorage.getItem('in_progress')
        // is_logged_in = localStorage.getItem('logged_in')
        // //if the game is not in progress or we are logged in, visit profile.
        // if (!gameInProgress || is_logged_in){
        window.location.href = '/profile';
        // }
        // else {
        //     displayModal('Game in progress, finish it first!');
        //     renderTransientModal(1000)
        // }
    }


</script>
<div id="login-welcome">
    <div class="welcome-email"></div>
</div>
<div id="settings">
    <!-- <div id="wg-banner">
        word.golf
    </div> -->
    <div id="information">
    </div>
    <div class="settings-controls soft-emphasis">
        <div class="switchContainer" onclick='changeColorMode()'>
            <button class="switch">◐</button>
            <p>theme</p>
        </div>

        <div class="switchContainer" onclick="toggleModal('help')">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="4 4 26 26" class="game-icon" height="48"
                data-testid="icon-help">
                <path fill="var(--grayed-out-color)"
                    d="M14.8333 23H17.1666V20.6667H14.8333V23ZM15.9999 4.33334C9.55992 4.33334 4.33325 9.56001 4.33325 16C4.33325 22.44 9.55992 27.6667 15.9999 27.6667C22.4399 27.6667 27.6666 22.44 27.6666 16C27.6666 9.56001 22.4399 4.33334 15.9999 4.33334ZM15.9999 25.3333C10.8549 25.3333 6.66659 21.145 6.66659 16C6.66659 10.855 10.8549 6.66668 15.9999 6.66668C21.1449 6.66668 25.3333 10.855 25.3333 16C25.3333 21.145 21.1449 25.3333 15.9999 25.3333ZM15.9999 9.00001C13.4216 9.00001 11.3333 11.0883 11.3333 13.6667H13.6666C13.6666 12.3833 14.7166 11.3333 15.9999 11.3333C17.2833 11.3333 18.3333 12.3833 18.3333 13.6667C18.3333 16 14.8333 15.7083 14.8333 19.5H17.1666C17.1666 16.875 20.6666 16.5833 20.6666 13.6667C20.6666 11.0883 18.5783 9.00001 15.9999 9.00001Z">
                </path>
            </svg>
            <p>help</p>
        </div>

        <div class="switchContainer" onclick="renderProfile()">
            <button class="switch profile-icon">
                <svg height="48" viewBox="0 0 60 60" xmlns="http://www.w3.org/2000/svg">
                    <g transform="scale(0.8) translate(5, 5)">
                        <circle cx="30" cy="20" r="12" fill="var(--grayed-out-color)" />
                        <path d="M14 52c0-8.8 7.2-16 16-16s16 7.2 16 16v4H14v-4z" fill="var(--grayed-out-color)" />
                    </g>
                </svg>
            </button>
            <p>sign in</p>
        </div>
        <!-- <div class="switchContainer" onclick="window.location.href='/previous-prompts'">
            <button id="prev-prompts" class="switch switch--outlined">
                Previous Prompts
            </button>
        </div> -->
    </div>
</div>