<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_mobile.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/help.css') }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'modals/head.html' %}
</head>

<body>
    {% include 'modals/header.html' %}
    {% include 'modals/modal-help.html' %}
    {% include 'modals/modal.html' %}
    <a href="/" class="back-arrow">&#8592;</a>
    <!-- Help background images -->
    <img src="/static/images/start_0.png" class="help-bg-image help-bg-image-0" alt="">
    <img src="/static/images/start_1.png" class="help-bg-image help-bg-image-1" alt="">
    <!-- <img src="/static/images/start_2.png" class="help-bg-image help-bg-image-2" alt=""> -->
    <div id="help-screen-container">
        <div class="scroll" id="help-screen">
            <h1 id="help-title-id" class="help-finish">How to play</h1>
            <div class="help-text">
                <h1 class="help-finish"> Connect unrelated words via neighbors</h1>
                    <p>
                        Every day there are 5 word pairs, each consisting of a start and target word.
                    </p>
                    <h1 class="help-finish">Click a word to view its neighbors</h1>
                    <p>
                        Neighbors are words that frequently appear in similar contexts and convey related meanings.
                    </p>
                    <div class="--grayed-out help-example">
                        <div class="separator">
                            <hr class="separator-line">
                            <span class="help-example-label"> Example </span>
                            <hr class="separator-line">
                        </div>
                        <span style="font-size: 0.9em;">
                            <em>whisper ⟶ shouting ⟶ scuffle</em><br>
                            <em>whisper</em> and <em>shouting</em> are related by volume.<br>
                            <em>shouting</em> connects to <em>scuffle</em> in the context of conflict.
                        </span>
                    </div>
                    <p>Click neighbors that relate to the target word to reach it. The progress prompt bar shows how close you are to the target word.
                    </p>
                    </div>


            <div class="guest-buttons" id="guest-buttons">
                <p class="credits ma0"> A perfect solve is 2 jumps per pair, or 10 total for the day. Built with word2vec and Google Books.</p>
                <button onclick="beginTutorial()" id="tutorial"
                    class=" switch switch--outlined tutorial">tutorial</button>
            </div>

            <div class="help-footer-div">
                <p><a href="https://tally.so/r/mV7Yay" target="_blank" rel="noopener">leave feedback</a></p>
            </div>
        </div>
    </div>
</body>

<script>
    function beginTutorial() {
        localStorage.setItem('is_help', 'true');
        // data = sendAndReceiveXML(`help=true`);
        window.location.href = '/';
        // document.getElementById('prompts-title-heading').innerText = 'Tutorial';
        // document.getElementById('prompts-count-remainder').innerText = '/2'
        // renderLinks(data.prompt, data.results)
        // clearBoxes()
        // renderPrompts(data.jumpsArray, data.wordsArray, data.startTargetIdxs, data.prompt)
        // activateLinks()
        // addHelpFocuses(data.prompt, data.results)
    }
</script>

</html>