<div id="help" class="help" style="display: none;">
    <div class="help_container">
            <h1>How to play</h1>
        <div class='help-text'>
            <p>Link a start word to a target word.</p>
            <p class='--grayed-out'>cement ⟶ lumber ⟶ forests ⟶ woodlands</p>
            <p>Choose carefully! Each target can be reached in two jumps.</p>
            <p class='--grayed-out'>fountain ⟶ piers ⟶ coastline</p>
            <p>Five prompts are released each day.</p>
        </div>
        <div class="flex">
        <button onclick="toggleElement('help')" class="switch switch--outlined">play</button>
        <button onclick="window.location.href='/login'" class="switch switch--outlined">login</button>
        </div>
    </div>
</div>