<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_mobile.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/help.css') }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'head.html' %}
</head>

<body>
    {% include 'header.html' %}
    {% include 'modal-help.html' %}
    {% include 'modal.html' %}
    <a href="/" class="back-arrow">&#8592;</a>
    <!-- Help background images -->
    <img src="/static/images/start_0.png" class="help-bg-image help-bg-image-0" alt="">
    <img src="/static/images/start_1.png" class="help-bg-image help-bg-image-1" alt="">
    <!-- <img src="/static/images/start_2.png" class="help-bg-image help-bg-image-2" alt=""> -->
    <div id="help-screen-container">
        <div class="scroll" id="help-screen">
            <h1 class="finish-summary-title">How to play</h1>
            <div class="help-text">
                <h1 class="help-goal finish-summary"> Connect two unrelated words by their neighbors.</h1>
                    <p>
                        Each day, there are 5 pairs of words. Each pair includes a start word, where you start from, and
                        a target word, where you want to get to.
                    </p>
                    <h1 class="finish-summary">Click a word to view its neighbors.</h1>
                    <p>
                        These neighbors will always be similar in some way, but they are not obvious synonyms. Instead,
                        they paint a picture of where a word appears: each neighbor shares a common context with the
                        current word.
                    </p>
                    <p>Clicking neighbors which also relate to the target word will help you navigate closer to your
                        goal. The progress bar below the grid shows how close you are to the target.
                    </p>
                    <div class="--grayed-out help-example">
                        <div class="separator">
                            <hr class="separator-line">
                            <span class="separator-text finish-summary-center">Example</span>
                            <hr class="separator-line">
                        </div>
                        <em>whisper ⟶ shouting ⟶ scuffle</em><br>
                        <em>whisper</em> and <em>shouting</em> are related by volume.<br>
                        <em>shouting</em> connects to <em>scuffle</em> in the context of conflict.
                        </p>
                    </div>
                    </div>


            <div class="guest-buttons" id="guest-buttons">
                <p class="credits ma0"> A perfect solve is 2 jumps per pair, or 10 total for the day. Built with word2vec and Google Books.</p>
                <button onclick="beginTutorial()" id="tutorial"
                    class=" switch switch--outlined tutorial">tutorial</button>
            </div>

            <div class="help-footer-div">
                <p><a href="https://tally.so/r/mV7Yay" target="_blank" rel="noopener">leave feedback</a></p>
            </div>
        </div>
    </div>
</body>

<script>
    function beginTutorial() {
        localStorage.setItem('is_help', 'true');
        // data = sendAndReceiveXML(`help=true`);
        window.location.href = '/';
        // document.getElementById('prompts-title-heading').innerText = 'Tutorial';
        // document.getElementById('prompts-count-remainder').innerText = '/2'
        // renderLinks(data.prompt, data.results)
        // clearBoxes()
        // renderPrompts(data.jumpsArray, data.wordsArray, data.startTargetIdxs, data.prompt)
        // activateLinks()
        // addHelpFocuses(data.prompt, data.results)
    }
</script>

</html>