<!DOCTYPE html>

<head>
    {% include 'head.html' %}
    <title>word.golf</title>
</head>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z90RQN4KLB"></script>
<script src="static/js/gtag.js"></script>
<script src="static/js/XML.js"></script>
<script src="static/js/links__util.js"></script>
<script src="static/js/key_commands.js"></script>
<script src="static/js/animation.js"></script>
<script src="static/js/links.js"></script>
<script src="static/js/information.js"></script>
<script src="static/js/prompts.js"></script>

{% if backend_url != "https://routes.word.golf" %}
  <p style="position: absolute; top: 0; left: 0; font-size: 0.6rem;">Dev: {{ backend_url }}</p>
{% endif %}
{% include 'settings.html' %}
{% include 'modal-help.html' %}
{% include 'modal.html' %}
{% include 'modal-finish-user.html' %}
{% include 'modal-finish-guest.html' %}

<div id="global">
    <div id="info-box"></div>
    <div id="wordspace-container">
        <div id="wordspace"></div>
    </div>
    <div id="prompts-container">
        <p class="prompts-title">Prompts</p>
        <div id="prompts">
            <div class="prompt-box"> </div>
            <div class="prompt-box"> </div>
            <div class="prompt-box"> </div>
            <div class="prompt-box"> </div>
            <div class="prompt-box"> </div>
        </div>
    </div>

</div>

<script>data = JSON.parse('{{data|tojson|safe}}');
</script>
<script src="static/js/is_game_complete.js"> </script>
<script>
    is_help = localStorage.getItem('is_help');
    if (is_help !== 'false') {
        startHelpSession()
    } 
    else {
    localStorage.setItem('current_date', data['date']);
    fetch(`${window.backendURL}/user_and_game_state`, {
        method: 'POST',
        credentials: 'include',
        headers: {
            'Content-Type': 'application/json'
        }
    })
        .then(response => response.json())
        .then(game_data => {
            // console.log("backend response: ", game_data);
            if ("logged_in" in game_data) {
                if (game_data.email) {
                    renderLogin(game_data)
                }
            }
            let loaded;
            let prompt_idx;
            if ("selected_words" in game_data && game_data["selected_words"] && game_data["selected_words"].length != 0) {
                loaded = game_data
                prompt_idx = game_data.prompt_idx
            } else {
                loaded = data;
                prompt_idx = data['i'];
            }
            let jumpsA = loaded.jumpsA;
            let jumps = loaded.jumps;
            let results = loaded.results || data['results'];
            let prompts = loaded.prompts;
            let start_target = prompts[prompt_idx];
            console.log(`jumpsA ${jumpsA} prompt_idx ${prompt_idx}`)
            _ = editSession(jumpsA, jumps, results, prompt_idx, start_target);
            start_target = prompts[prompt_idx]
            renderToFrom(start_target, jumps)
            renderPrompts(prompts, jumpsA, jumps, start_target=start_target)
            if (jumpsA.length == 5) {
                renderLinks(start_target, results); 
            } else {
                renderLinks(start_target, results)
            }
            activateLinks()
        });
    }
</script>
