<!DOCTYPE html>

<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
{% set version = 'v1.02' %}
<head>
    {% include 'head.html' %}
    <title>word.golf</title>
</head>

<script>

window.addEventListener('load', function() {
    // Check if the browser is Safari
    if (isSafari()) {
        if (window.location.search.indexOf('v=') === -1) {
            var uniqueParam = 'v=' + new Date().getTime(); 
            var newUrl = 'https://www.word.golf?' + uniqueParam;
            window.location.replace(newUrl);
        }
    }
});

function isSafari() {
    var userAgent = navigator.userAgent;
    return /Safari/.test(userAgent) && !/Chrome/.test(userAgent);
}

data = JSON.parse('{{data|tojson|safe}}');

</script>
<script src="{{ url_for('static', filename='js/XML.js') }}?{{ version }}"></script>
<script src="{{ url_for('static', filename='js/links__util.js') }}?{{ version }}"></script>
<script src="{{ url_for('static', filename='js/key_commands.js') }}?{{ version }}"></script>
<script src="{{ url_for('static', filename='js/animation.js') }}?{{ version }}"></script>
<script src="{{ url_for('static', filename='js/links.js') }}?{{ version }}"></script>
<script src="{{ url_for('static', filename='js/information.js') }}?{{ version }}"></script>
<script src="{{ url_for('static', filename='js/prompts.js') }}?{{ version }}"></script>

{% if backend_url != "https://routes.word.golf" %}
  <p style="position: absolute; top: 0; left: 0; font-size: 0.6rem;">Dev: {{ backend_url }}</p>
{% endif %}
{% include 'settings.html' %}
{% include 'modal-help.html' %}
{% include 'modal.html' %}
{% include 'modal-finish-user.html' %}
{% include 'modal-finish-guest.html' %}

<div id="global">
    <div id="info-box"></div>
    <div id="wordspace-container">
        <div id="wordspace"></div>
    </div>
    <div id="prompts-container">
        <p class="prompts-title">Prompts</p>
        <div id="prompts">
            <div class="prompt-box"> <div class="word-tally-box"></div><div class="word-tally-box"></div><div class="word-tally-box"></div><div class="word-tally-box"></div><div class="word-tally-box"></div><div class="word-tally-box"></div> </div>
            <div class="prompt-box"> <div class="word-tally-box"></div><div class="word-tally-box"></div><div class="word-tally-box"></div><div class="word-tally-box"></div><div class="word-tally-box"></div><div class="word-tally-box"></div> </div>
            <div class="prompt-box"> <div class="word-tally-box"></div><div class="word-tally-box"></div><div class="word-tally-box"></div><div class="word-tally-box"></div><div class="word-tally-box"></div><div class="word-tally-box"></div> </div>
            <div class="prompt-box"> <div class="word-tally-box"></div><div class="word-tally-box"></div><div class="word-tally-box"></div><div class="word-tally-box"></div><div class="word-tally-box"></div><div class="word-tally-box"></div> </div>
            <div class="prompt-box"> <div class="word-tally-box"></div><div class="word-tally-box"></div><div class="word-tally-box"></div><div class="word-tally-box"></div><div class="word-tally-box"></div><div class="word-tally-box"></div> </div>
        </div>
    </div>

</div>
<!-- <script>
    let BACKEND_OK = true
    //**** FALLBACK: render data as normal without saving ***** //
    fetch(`${window.backendURL}/is_logged_in`, {
    method: 'POST',
    credentials: 'include',
    headers: { 'Content-Type': 'application/json' }
    })
    .then(response => {
    if (!response.ok) throw new Error('POST blocked (mostly likely CORS)');
    })
    .catch(error => {
    console.warn(`[word.golf] Hey! The backend is either blocked or offline, not saving -- Eric`, error);
    BACKEND_OK = false;
    });
    startHelpSession();
</script> -->
<script src="static/js/is_game_complete.js"> </script>
<script>
    localStorage.setItem('current_date', data['date']);
    let is_help = localStorage.getItem('is_help');
    if ("logged_in" in data) { // figure out this logic a bit later not now
        if (data.logged_in) {
            renderLogin(data.logged_in)
        }
    }
    // start help session
    if (is_help !== 'false' && !data.logged_in) { 
        startHelpSession()
    } 
    else {
        console.log("here is the data from the backend");
        console.log(data);
        let prompt_idx = data['i'];
        let jumpsArray = data.jumpsArray;
        let jumps = data.jumps;
        let results = data.results;
        let prompts = data.prompts;
        let start_target = prompts[prompt_idx];
        console.log("[index]: here is start target: ", start_target);
        start_target[0] = results[10];
        let startTargetIdxs = data.startTargetIdxs
        // check if prompt_idx is 5 
        const is_end = 'total_jumps' in data ? data.total_jumps : 0;
        // _ = editSession(jumpsArray, jumps, results, prompt_idx, start_target);
        // 
        renderPrompts(jumpsArray, startTargetIdxs, start_target, is_end);
        // start_target = prompts[prompt_idx];
        renderLinks(start_target, results, prompt_idx, is_end); 
        activateLinks();
    }


</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const idxSpan = document.getElementById('footer-daily-idx');
        if (idxSpan) {
            idxSpan.textContent = daysSinceStartDate();
        }
    });
</script>
<div class="footer-div">
    <p>www.word.golf #<span id="footer-daily-idx"></span></p>
    <p><a href="https://tally.so/r/mV7Yay" target="_blank" rel="noopener">contact us</a></p>
</div>

