<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/login_pw.css') }}">

<head>
{% include 'head.html' %}
<title>Login / Create User</title>
</head>

{% include 'banner-heading.html' %}

<div id="login-global" class="flex">
  <body>
    <div class="loginContainer">
      <form id="loginForm">
        <div class="form-rows">
          <div class="form-row">
            <label> Email</label>
            <input type="email" id="loginEmail" required />
          </div>
            <div class="form-row" id="passwordRow" style="display: none;">
              <label>Password </label>
              <div class="input-box">
                <input type="password" id="loginPassword" required />
                <img src="../static/images/pass_open_eye.png" alt="Toggle Password Visibility" id="togglePassword">
              </div>
              <!-- <input type="password" id="loginPassword" required /> 
              <img src="../static/images/pass_open_eye.png" alt="Toggle Password Visibility" id="togglePassword"> -->
            </div>
          <div>
            <button type="submit" id="SubmitBtn" class="switch switch--outlined">Continue</button>
            <button type="submit" id="ForgotPasswordBtn" class="switch switch--outlined" style="display: none;" onclick="window.location.href='/resetpassword'">Forgot Password</button>
            <button type="submit" id="LoginBtn" class="switch switch--outlined" style="display: none;">Login</button>
            <button type="submit" id="CreateAccountBtn" class="switch switch--outlined" style="display: none;">Create Account</button>
            <!-- <button class="switch switch--outlined" id="logoutBtn">Logout</button> -->

            <div class="separator">
              <hr class="separator-line">
              <span class="separator-text">or</span>
              <hr class="separator-line">
            </div>
            
              <script src="https://accounts.google.com/gsi/client" async></script>
              <div id="g_id_onload"
                  data-client_id="490339325235-2colln65cgm89aue0mihetv8upkmr5bl.apps.googleusercontent.com"
                  data-login_uri="http://localhost:7000/login/google" 
                  data-auto_prompt="false">
                  <!-- change this to the deployed backend URL -->
              </div>

              <div class="g_id_signin"
                data-type="standard"
                data-size="large"
                data-theme="outline"
                data-text="sign_in_with"
                data-shape="rectangular"
                data-logo_alignment="left">
              </div>
            <!-- <button onclick="window.location.href='/resetpassword'" class="switch switch--outlined">Reset Password</button> -->
          </div>
        </div>
      <div id="responseMessage"></div>
      <!-- <button onclick="window.location.href = window.location.href.replace(/\/login$/, '')" style="display: none;" class="switch switch--outlined" id="backGame">Back to Game</button>    </div> -->

    </form>
    <!-- <div class="createUserContainer">
      <h2>Create User</h2>
      <form id="createUserForm">
        <div class="form-rows">
          <div class="form-row">
            <label>Email </label>
            <input type="text" id="createEmail" required />
          </div>
          <div class="form-row">
            <label>Password</label>
            <input type="password" id="createPassword" required />
          </div>
          <div>
            <button type="submit" class="switch switch--outlined">Create User</button>
          </div>
        </div>
      </form>
    </div> -->

    <!-- <button id="getDataBtn" class="switch switch--outlined">Get User Data</button>
    <pre id="userDataOutput"></pre>
    <div id="responseMessage" style="color: red; margin-top: 20px;"></div>
    <button id="getUserHistoryBtn" class="switch switch--outlined">Get User History</button>
    <pre id="userHistoryOutput"></pre>
    <pre id="LogoutOutput"></pre>
     -->

</div>

<script>
const backendURL = "http://localhost:7000" // testing 
// const backendURL = "https://word-golf-backend.onrender.com"; // production 

document.getElementById('togglePassword').addEventListener('click', () => {
  let passwordInput = document.getElementById('loginPassword');
  if (passwordInput.type === 'password') {
    passwordInput.type = 'text';
    document.getElementById('togglePassword').src = '../static/images/pass_close_eye.png'; // Change to closed eye icon
  } else {
    passwordInput.type = 'password';
    document.getElementById('togglePassword').src = '../static/images/pass_open_eye.png'; // Change to open eye icon
  }
});

document.getElementById("SubmitBtn").addEventListener("click", async (e) => {
  e.preventDefault();
  // I am just mocking this for now, but I will add a password later.
  const email_val = document.getElementById("loginEmail");
  
  if (email_val.checkValidity()) {

    let email = email_val.value;

    document.getElementById("passwordRow").style.display = "flex";
    const separator = document.querySelector(".separator");
    if (separator) separator.style.display = "none";
    const googleSignin = document.querySelector(".g_id_signin");
    if (googleSignin) googleSignin.style.display = "none";
    const googleOnload = document.getElementById("g_id_onload");
    if (googleOnload) googleOnload.style.display = "none";
    const submitBtn = document.getElementById("SubmitBtn");
    if (submitBtn) submitBtn.style.display = "none";
    // in a real application, make the POST request to the backend to check if the user exists
    try {
      const res = await fetch(backendURL + "/user_exist", {
          method: "POST",
          credentials: "include", // to store cookies sent by backend (make sure all requests to backend have this)
          headers: {
              "Content-Type": "application/json",
          },
          body: JSON.stringify({ email }),
      });
      const data = await res.json();
      if (res.ok) {
        if (data.exists) {
          // person exists, show password input and login button
          document.getElementById("responseMessage").style.display = "none";
          document.getElementById("loginPassword").style.display = "block";
          document.getElementById("LoginBtn").style.display = "block";
          document.getElementById("ForgotPasswordBtn").style.display = "block";
          document.getElementById("CreateAccountBtn").style.display = "none";
          document.querySelector("h2").textContent = "Login";
        } else {
          // person does not exist, show create account button
          document.getElementById("responseMessage").style.display = "none";
          document.getElementById("loginPassword").style.display = "block";
          document.getElementById("LoginBtn").style.display = "none";
          document.getElementById("ForgotPasswordBtn").style.display = "none";
          document.getElementById("CreateAccountBtn").style.display = "block";
          document.querySelector("h2").textContent = "Create Account";
        }
      } else {
        document.getElementById("responseMessage").style.display = "block";
        document.getElementById("responseMessage").textContent = data.error || "Check failed please use another email";
      }
    } catch (err) {
      document.getElementById("responseMessage").style.display = "block";
      document.getElementById("responseMessage").textContent = "Network error!";
    }
  } 
  else {
    console.log("invalid email");
    document.getElementById("responseMessage").style.display = "block";
    document.getElementById("responseMessage").textContent = "Please enter a valid email address";
  }

  // const loginBtn = document.getElementById("LoginBtn");
  // if (loginBtn) loginBtn.style.display = "block";
  // const forgotPasswordBtn = document.getElementById("ForgotPasswordBtn");
  // if (forgotPasswordBtn) forgotPasswordBtn.style.display = "block";

});


document.getElementById("LoginBtn").addEventListener("click", async (e) => {
  e.preventDefault();
  const email = document.getElementById("loginEmail").value;
  const password = document.getElementById("loginPassword").value;

  const email_val = document.getElementById("loginEmail");
  
  if (email_val.checkValidity()) {

    let email = email_val.value;

    // Uncomment during production, this is just for testing purposes
    try {
      const res = await fetch(backendURL + "/login", {
          method: "POST",
          credentials: "include", // to store cookies sent by backend (make sure all requests to backend have this)
          headers: {
              "Content-Type": "application/json",
          },
          body: JSON.stringify({ email, password }),
      });
      const data = await res.json();
      if (res.ok) {
        document.getElementById("responseMessage").style.color = "green";
        document.getElementById("responseMessage").textContent = data.message || "Login successful!";
        document.getElementById("responseMessage").style.display = "block";
        window.location.href = '/'; // Redirect to the main page after successful login
        // TODO: Redirect or do something on successful login
        // do a redirection to the normal word golf page -> show success message
      } else {
        document.getElementById("responseMessage").style.display = "block";
        document.getElementById("responseMessage").style.color = "red";
        document.getElementById("responseMessage").textContent = data.error || "Login failed";
      }
    } catch (err) {
      document.getElementById("responseMessage").style.display = "block";
      document.getElementById("responseMessage").style.color = "red";
      document.getElementById("responseMessage").textContent = "Network error";
    }
  }
  else {
    console.log("invalid email");
    document.getElementById("responseMessage").style.display = "block";
    document.getElementById("responseMessage").style.color = "red";
    document.getElementById("responseMessage").textContent = "Please enter a valid email address";
  }
});

document.getElementById("CreateAccountBtn").addEventListener("click", async (e) => {
  e.preventDefault();
  const email = document.getElementById("loginEmail").value;
  const password = document.getElementById("loginPassword").value;
  const email_val = document.getElementById("loginEmail");
  
  if (email_val.checkValidity()) {

    let email = email_val.value;

    // Uncomment during production, this is just for testing purposes
    try {
      const res = await fetch(backendURL + "/create_user", {
        method: "POST",
        credentials: "include", // to store cookies sent by backend (make sure all requests to backend have this)
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ email, password }),
      });
      const data = await res.json();
      if (res.ok) {
        document.getElementById("responseMessage").style.color = "green";
        document.getElementById("responseMessage").textContent = data.message || "User created successfully!";
        document.getElementById("responseMessage").style.display = "block";
        window.location.href = '/'; // Redirect to the main page after successful login
        // do something here 
        // do a redirection to the normal word golf page -> show success message
      } else {
        document.getElementById("responseMessage").style.display = "block";
        document.getElementById("responseMessage").style.color = "red";
        document.getElementById("responseMessage").textContent = data.error || "User creation failed";
      }
    } catch (err) {
      document.getElementById("responseMessage").style.display = "block";
      document.getElementById("responseMessage").style.color = "red";
      document.getElementById("responseMessage").textContent = "Network error";
    }
  } else {
    console.log("invalid email");
    document.getElementById("responseMessage").style.display = "block";
    document.getElementById("responseMessage").style.color = "red";
    document.getElementById("responseMessage").textContent = "Please enter a valid email address";
  }
});

// document.getElementById("getDataBtn").addEventListener("click", async () => {
//   try {
//     const res = await fetch(backendURL + "/data", {
//       method: "GET",
//       credentials: "include", // to store cookies sent by backend (make sure all requests to backend have this)
//     });

//     const data = await res.json();
//     const output = document.getElementById("userDataOutput");

//     if (res.ok) {
//       output.style.color = "black";
//       output.textContent = JSON.stringify(data, null, 2);
//     } else {
//       output.style.color = "red";
//       output.textContent = data.error || "Failed to fetch data";
//     }
//   } catch (err) {
//     const output = document.getElementById("userDataOutput");
//     output.style.color = "red";
//     output.textContent = "Network error";
//   }
// });

// document.getElementById("getUserHistoryBtn").addEventListener("click", async () => {
//   try {
//     const res = await fetch(backendURL + "/game_history", {
//       method: "GET",
//       credentials: "include", // to store cookies sent by backend (make sure all requests to backend have this)
//     });

//     const data = await res.json();
//     const output = document.getElementById("userHistoryOutput");

//     if (res.ok) {
//       output.style.color = "black";
//       output.textContent = JSON.stringify(data, null, 2);
//     } else {
//       output.style.color = "red";
//       output.textContent = data.error || "Failed to fetch user history";
//     }
//   } catch (err) {
//     const output = document.getElementById("userHistoryOutput");
//     output.style.color = "red";
//     output.textContent = "Network error";
//   }
// });

// document.getElementById("googleLoginBtn").addEventListener("click", async () => {

//   // This is the google login button. When I tested it, I realized that when I logged in with Google, 
//   // it cleared the session storage in the routes backend (so when printing the value out it is null/empty list), so that is why whenever 
//   // I log in with Google, I redirect to the home page. 
//   window.location.href = backendURL + "/login/google";
// });

// document.getElementById("logoutBtn").addEventListener("click", async () => {
//   try {
//     const res = await fetch(backendURL + "/logout", {
//       method: "POST",
//       credentials: "include", // to store cookies sent by backend (make sure all requests to backend have this)
//     });

//     const data = await res.json();
//     const output = document.getElementById("LogoutOutput");

//     if (res.ok) {
//       output.style.color = "green";
//       output.textContent = data.message || "Logout successful!";
      
//       window.location.href = '/'; // Change this but this just redirects to the main page
//     } else {
//       output.style.color = "red";
//       output.textContent = data.error || "Logout failed";
//     }
//   } catch (err) {
//     const output = document.getElementById("LogoutOutput");
//     output.style.color = "red";
//     output.textContent = "Network error";
//   }
// });


</script>

</body>
</html>




