<div id="modal-finish-user" class="modal-finish">
    <div id='finish-container' class='finish-container'>
        <div class="finish-close" onclick="toggleElement('modal-finish-user')">✕</div>
        <div class="daily-idx-tag">
            <span class="hash">#</span>
            <span class="daily-idx"></span>
        </div>
        <div class="inline-title">
            <h1>Summary</h1>
        </div>
        <script>
        </script>
        <div class="stat-row">
            <div>
                <p class="stat totalJumps"></p>
                <p> jumps</p>
            </div>
            <div>
            <pre class="stat jumpsA"></pre>
            <p>across prompts</p>
            </div>
            <div>
            <p class="stat streak"></p>
            <p>streak</p>
            </div>
        </div>
        <p>You are logged in. </p>
    </div>
</div>