<script>
    function beginTutorial() {
        //clear help finish modal if necessary.
        document.getElementById('modal-finish-guest').style.display = 'none';
        document.getElementById('modal-finish-user').style.display = 'none';
        localStorage.setItem('is_help', 'true');
        data = sendAndReceiveXML(`help=true`);
        if (localStorage.getItem('prompts')) {
            _prompts = localStorage.getItem('prompts');
            localStorage.setItem('_prompts', _prompts)
        }
        renderLinks(data.prompt, data.results)
        clearBoxes()
        renderPrompts(data.jumpsArray, data.startTargetIdxs, data.prompt)
        activateLinks()
        addHelpFocuses(data.prompt, data.results)
    }

    function renderLogin(email) {
        localStorage.setItem('logged_in', email);
        localStorage.setItem('is_help', false);
        document.getElementById('logged_in-username').textContent = email;
        // const loginWelcome = document.getElementById('login-welcome');
        // loginWelcome.style.display = 'flex';
        // loginWelcome.querySelector('.welcome-email').textContent = text.email;
        document.getElementById('guest-buttons').style.display = 'none';
        document.getElementById('logged_in-buttons').style.display = 'flex';
    }

    async function renderLogout(){
        try {
            const res = await fetch("/logout", {
                method: "POST",
                credentials: "include", // to store cookies sent by backend (make sure all requests to backend have this)
                headers: {
                    'Content-Type': 'application/json'  // Ensure this matches what the server expects
                },
                body: JSON.stringify({
                    date: new Date().toISOString().split('T')[0]
                })
            });
            const data = await res.json();
            if (res.ok) {
                localStorage.removeItem('logged_in');
                const loginWelcome = document.getElementById('login-welcome');
                const logged_in_buttons = document.getElementById('logged_in-buttons');
                loginWelcome.style.display = 'none';
                logged_in_buttons.style.display = 'none';
                const logoutButton = document.getElementById('guest-buttons');
                logoutButton.style.display = 'flex';
                window.location.href = '/';
            } else {
                console.log("Logout failed:", data);
            }
        } catch (err) {
            console.log("Error during logout:", err);
        }
        // }
    }

</script>
<div id="help" class="help">
    <div class="help-close" onclick="toggleElement('help')">✕</div>
    <div class="help-container">
            <h1>How to play</h1>
        <div class='help-text'>
            <p>Link two words by clicking their neighbors.</p>
            <p class='--grayed-out'>outside ⟶ beneath ⟶ surface ⟶ layer</p>
            <p>Choose carefully! You only need two jumps.</p>
            <p class='--grayed-out'>cellphone ⟶ airtime ⟶ fluff</p>
            <p>5 prompts daily. The best score is 10.</p>
        </div>
        <div class="logged_in-buttons" id="logged_in-buttons">
            <p>Logged in as <span id="logged_in-username"></span></p>
            <!-- <button onclick="renderLogout()" class="switch switch--outlined">logout</button> -->

        </div>
        <div class="guest-buttons" id="guest-buttons">
        <button onclick="window.location.href='/login'" class="switch switch--outlined">login / signup</button>
        <script src="https://accounts.google.com/gsi/client" async></script>
        <div id="g_id_onload"
            data-client_id="490339325235-2colln65cgm89aue0mihetv8upkmr5bl.apps.googleusercontent.com"
            data-login_uri="https://word.golf/login/google"  
            data-auto_prompt="false"> 
            <!-- change this to the deployed backend URL --> 
            <!-- data-login_uri="http://127.0.0.1:7000/login/google"  -->
        </div>

        <div class="g_id_signin"
            data-type="standard"
            data-size="large"
            data-theme="outline"
            data-text="sign_in_with"
            data-shape="rectangular"
            data-logo_alignment="left">
        </div>
        <button onclick="toggleElement('help'); beginTutorial()" class=" switch switch--outlined ">tutorial</button>
        </div>
    </div>
</div>