<div id="modal-finish-guest" class="modal-finish">
    <div id='finish-container' class='finish-container'>
        <div class="finish-close" onclick="closeModal('modal-finish-guest')">✕</div>
        <div class="daily-idx-tag">
            <span class="hash">#</span>
            <span class="daily-idx"></span>
        </div>
        <div class="inline-title">
            <h1 class="finish-summary">Summary</h1>
        </div>
        <div class="stat-row">
            <div>
                <p class="stat totalJumps"></p>
                <p> jumps</p>
            </div>
            <div>
                <p class="stat streak"></p>
                <p>streak</p>
            </div>
        </div>
    <div class="share-link" id="share-link">
        <a id="shareLink">
            Share
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon-copy">
                <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
                <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
            </svg>
        </a>
    </div>
    
    <div class="finish-text-end">
        <p>Come back tomorrow to play again.</p>
        <p><a href="login">Sign up to see today's solution.</a></p>
    </div>
    </div>
</div>