<script>
    function beginTutorial() {
        localStorage.setItem('is_help', 'true');
        help = document.getElementById('help');
        help.style.display = 'none'
        resp = sendAndReceiveXML(`help=true`)
        renderToFrom(resp.prompt);
        document.querySelector('.prompt-box').style.border = '1px solid var(--border-color)';
        renderLinks(resp.prompt, resp.results)
        console.log('[reportSessionEnded] Rendering prompts..')
        renderPrompts(resp.prompts, resp.i, resp.jumpsA, resp.jumps)
        activateLinks()
    }
    async function renderLogout(){
        try {
            const res = await fetch(window.backendURL + "/logout", {
                method: "POST",
                credentials: "include", // to store cookies sent by backend (make sure all requests to backend have this)
            });

            const data = await res.json();

            if (res.ok) {
                localStorage.removeItem('logged_in');
                const loginWelcome = document.getElementById('login-welcome');
                const logged_in_buttons = document.getElementById('logged_in-buttons');
                loginWelcome.style.display = 'none';
                logged_in_buttons.style.display = 'none';
                const logoutButton = document.getElementById('guest-buttons');
                logoutButton.style.display = 'flex';
            } else {
                console.log("Logout failed:", data);
            }
        } catch (err) {
            console.log("Error during logout:", err);
        }
    }

</script>
<div id="help" class="help">
    <div class="help-close" onclick="toggleElement('help')">✕</div>
    <div class="help-container">
            <h1>How to play</h1>
        <div class='help-text'>
            <p>Link two words by clicking their neighbors.</p>
            <p class='--grayed-out'>outside ⟶ beneath ⟶ surface ⟶ layer</p>
            <p>Choose carefully! You only need two jumps.</p>
            <p class='--grayed-out'>mercury ⟶ toothpaste ⟶ razor</p>
            <p>5 prompts daily. The best score is 10.</p>
        </div>
        <div class="logged_in-buttons" id="logged_in-buttons">
            <button onclick="renderLogout()" class="switch switch--outlined">logout</button>
        </div>
        <div class="guest-buttons" id="guest-buttons">
        <button onclick="window.location.href='/login'" class="switch switch--outlined">login / signup</button>
        <script src="https://accounts.google.com/gsi/client" async></script>
        <div id="g_id_onload"
            data-client_id="490339325235-2colln65cgm89aue0mihetv8upkmr5bl.apps.googleusercontent.com"
            data-login_uri="https://routes.word.golf/login/google" 
            data-auto_prompt="false">
            <!-- change this to the deployed backend URL -->
        </div>

        <div class="g_id_signin"
            data-type="standard"
            data-size="large"
            data-theme="outline"
            data-text="sign_in_with"
            data-shape="rectangular"
            data-logo_alignment="left">
        </div>
        <!-- <button onclick="beginTutorial()" class=" switch switch--outlined ">tutorial</button> -->
        </div>
    </div>
</div>