.back-arrow {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2.1rem;
    color: var(--text-color);
    text-decoration: none;
    z-index: 100;
}

#help-screen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0rem 2rem;
}

#help-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 42rem;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 1rem 0 1rem 0;
}

.separator-end {
    margin-top: 1rem;
}
.separator-line {
    flex: 1;
    height: 1px;
    background: var(--border-color, #ccc);
    border: none;
}

.separator-text {
    padding: 0 1rem;
    color: var(--text-color, #444);
    font-size: 1rem;
    white-space: nowrap;
    opacity: 0.8;
}

.finish-summary {
    margin-top: 1rem !important;
    font-size: 2.4rem !important;
    font-weight: 400 !important;
}

.finish-summary-center {
    color: var(--grayed-out-color);
    text-align: center;
    font-size: 2.4rem !important;
    font-weight: 400 !important;
}

.finish-summary-center span {
    font-size: 3.2rem;
}

.finish-summary-title{
    color: var(--grayed-out-color);
    position: absolute;
    top: 0;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem !important;
    font-size: 2.4rem !important;
    font-weight: 400 !important;
}

.help-text {
    font-size: 1.4rem;
}

.--grayed-out {
    color: var(--grayed-out-color);
}

.help-example {
    font-size: 1.8rem;
    margin: 1rem 0 1.5rem;
}

p {
    margin: 0.5rem 0;
}

.ma0 {
    margin: 0 !important;
}

.help-example em{
    color: var(--6);
}

#tutorial {
    font-size: 2em;
    padding: 1em 1.7em;
    outline: 1px solid var(--grayed-out-color);
}

.credits {
    font-size: 1.5rem;
    color: var(--grayed-out-color);
}

.help-example-label {
    color: var(--grayed-out-color);
    text-align: center;
    /* font-size: 1.8rem; */
    font-weight: 400 !important;
    padding: 0 1.2rem;
}

.no-bottom{
    margin-bottom: 0; 
}

.guest-buttons{
    align-items: center !important;
    margin-bottom: 1.4rem;
}

.help-example span {
    font-size: 0.9em;
}

.help-finish {
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0 0;
    font-size: 2.2rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: var(--grayed-out-color);
    margin-top: 1rem !important;
    font-size: 2.4rem;
    font-weight: 400 !important;
}

@media (max-width: 992px) {
    .help-bg-image-0,
    .help-bg-image-1 {
        display: none !important;
    }
}