@media only screen and (max-width: 992px) {
    .global {
        flex-direction: column;
    }
    .profile-container {
        max-width: 100vw;
    }
    #statistics {
        max-width: 100vw;
        padding: 1rem !important;
    }
    #jumps-graph {
        width: 100vw;
        max-width: 100vw;
    }
    #calendar {
        margin: 0;
        padding: 1rem !important;
    }
    .fc .fc-scroller-harness {
    direction: ltr;
    overflow: visible !important;
    }
    .fc-scroller-liquid-absolute {
    overflow: visible !important;
}
}