@media only screen and (max-width: 992px) {
    body {
        overflow-y: hidden;
    }
    #wordspace {
        width: 100vw;
        height: 55vh;
        /* display: grid; 
        justify-items: center;
        justify-content: end; */
    }
    #settings { 
        padding: 0 1em;
        margin: 0 0;
    }
    
    #prompts {
        width: 100vw; 
        padding: 3vh 2em;
        min-height: 20vh;
        max-height: 40vh;
        justify-content: flex-start;
        padding: 2em 2em;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 85vh;
    }
    .prompt p:nth-child(1) {
        margin-left: auto;
        text-align: right;
    }

    #prompts p {
        font-size: 2.2em;
    }
    .prompt-box {
        outline: 1px solid var(--border-color);
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 4vh;
        font-size: 1vh;
    }

    .prompt-box {
        outline: 1px solid var(--border-color);
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 4vh;
        font-size: 1vh;
    }

    .switch, .game-icon {
        padding: 0.5em 0em;
        align-items: top;
        justify-content: center;
    }
    .switch {
            font-size: 5em
    }
    .game-icon {
        width: 6em;
    }
    #global {display: flex; flex-wrap: wrap;}
    #wordspace button {
    display: flex;
    align-items: center;
    justify-content: center;
    }
    #wordspace span {
        font-size: 1.5em !important;
    }
    #wordspace button {width: 25vw !important;}
    span, p{ font-size: 3em; }
}
