html {
    font-family: "Schibsted Grotesk", sans-serif;
    font-optical-sizing: auto;
    background-color: var(--background-color);
    color: var(--text-color);
}
/* Topbar game icon (?) and switch (darkmode) */
.switch {
    color: var(--text-color);
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 3em
}

.switch--outlined {
    margin-top: 1.5em;
    font-size: 2em;
    padding: 2em 2em;
    outline: 1px solid var(--grayed-out-color);
}

.switch, .game-icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 0em;
    box-sizing: border-box;
}
  .game-icon {
      padding: 0.5em;
      width: 4em;
  }

  #information {
      flex: 1;
  }

  .switchContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 3em;
  }


.help {
    background-color: var(--background-color);
    position: absolute; 
    left: 0; 
    right: 0; 
    top: 10vh;
    margin-left: auto; 
    margin-right: auto; 
    width: 80vw;
    height: 80vh;
    outline: 1px solid var(--grayed-out-color);
    display: flex;
    justify-content: center;
    z-index: 2;
}

.help-container {
    background-color: var(--background-color);
    justify-content: space-around;
    display: flex;
    flex-wrap: nowrap;
    padding: 1em 2em;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.help-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

.help button {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 1.5em;
    padding: 0.5em 2em;
    border: none;
    border-radius: 1.5em;
    cursor: pointer;
    transition: background 0.2s;
    outline: 1px solid var(--border-color);
    margin-top: 1.5em;
}

.--grayed-out {
    color: var(--grayed-out-color);
}
.--small {
    font-size: 1.2em;
}

p{ 
    font-size: 1.5em;
}

#information span{
    font-size: 1.3em;
}

button {
    outline: 1px solid var(--border-color);
 }

button {
    transition: transform 600ms ease, color 600ms ease ;
}

button:not(.greyed-out):hover {
    transform: scale(1.05);
    /* box-shadow: 0 4px 16px rgba(0,0,0,0.15); */
}

button span {
    display: inline-block;
}
  

 .link:hover {
    color:  var(--hover-color);
 }
  

 .link:focus {
    outline: none;
 }

 .link {
    height: 8vh;
    min-width: 15vw;
    text-align: center;
    border:none;
    outline:none;
    background-color: transparent;
    color: var(--text-color);
 }

.link--transition--disabled{
  color: var(--grayed-out-color);
}


.link--starting{
    color: var(--grayed-out-color);
}

.link--disabled{
    pointer-events: none;
    color: var(--grayed-out-color);
}

.link--disabled-2{
    pointer-events: none;
    color: var(--grayed-out-color-2);
    transition: transform 0ms ease-out, color 0ms ease-out;
}

.link--target {
    animation: pulse 0.7s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        color: var(--text-color)
    }
    50% {
        transform: scale(1.08);
        color: var(--hover-color)
    }
    100% {
        transform: scale(1);
        color: var(--text-color)
    }
}


.prompt {
    color: var(--text-color);
}

.prompt--done {
    color: var(--grayed-out-color);
}

.prompt-num-large{
    font-size: 1.6em;
}

#global {
    display: flex;
    justify-content:flex-end;
}

#settings {
    padding: 0 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
}


#information {
    flex: 1;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.switchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 3em;
}

#information p {
    margin: 0 auto;
}

#information span {
    margin: 0 0.2em;
    font-size: 1.3em;
}


#wordspace {
    width: 77vw;
    height: 85vh;
    padding: 9vh 9vh 8vh 20vh;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1.3fr 1fr 1fr 1fr;
    gap: 4px 6px; /* 4px vertical, 6px horizontal */
    margin-left: auto;
    margin-right: 0;
    justify-items: center;
    align-items: center;
}


#wordspace button { 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.1em;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}



#prompts {
    padding: 2em 2em;
    width: 27vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85vh;
}

.prompt-box {
    outline: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 5em;
    font-size: 1.2em;
    position: relative;
    z-index: -1;
}

.prompt-box .prompt {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 2vw;
}

.prompt-box .prompt :first-child {
    text-align: left;
}

.prompt-box .prompt :nth-child(2) {
    text-align: right;
}

#prompts p {
    padding: 0 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
    /*******************/
 /**Game Over Modal*/
/*****************/

#modal h1 {
        font-size: 2.1em;
        margin-top: 0.5em;
        margin-bottom: 0.8em;
        letter-spacing: 0.01em;
        line-height: 1.2;
        text-align: center;
}

#modal {
        display: none;
        position: absolute;
        top: 10vh;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 80vw;
        height: 80vh;
        background-color: var(--background-color);
        outline: 1px solid var(--grayed-out-color);
        z-index: 1000;
        justify-content: center;
        align-items: center;
}

#modal > * {
        word-break: break-word;
        overflow-wrap: break-word;
        max-width: 90vw;
        max-height: 70vh;
        margin: 0 auto;
}
#modalText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modal div {
        background: var(--background-color);
        color: var(--text-color);
        padding: 1em 1em;
        border-radius: 16px;
        text-align: center;
        max-height: 50vh;
        margin: 0 auto;
        font-size: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        z-index: 2;
}

#modal button {
        background-color: var(--background-color);
        color: var(--text-color);
        font-size: 1.3em;
        padding: 0.5em 2em;
        margin: 2em;
        border: none;
        border-radius: 1.5em;
        cursor: pointer;
        transition: background 0.2s;
        outline: 1px solid var(--border-color);
}
 
/* Scale animation for jumps */
@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}

.animate-scale {
    animation: scaleUp 300ms ease;
}


  /*******************/
 /*** ANIMATIONS ***/
/*****************/

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes rainbow_animation {
    0% {
      background-position: 0 0;
    }
  
    100% {
      /*50% + width of single cell */
      background-position: 63% 0;
    }
  }
  
.rainbow_text_animated:hover {
overflow: hidden;
opacity: 1;
}

.rainbow_text_animated {
overflow: hidden;
opacity: 1;
background: linear-gradient(
    to right,
    #8b0000,
    #b34700,
    #cccc00,
    #228b22,
    #00008b,
    #4b0082,
    #800080,
    #8b0000
);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
background-clip: text;
color: rgba(255, 255, 255, 0.1);
animation: rainbow_animation 7s linear infinite;
background-size: 500% 100%;
-webkit-text-fill-color: rgba(200, 200, 200, 0.2);
animation-duration: 1s;
background-size: 800% 100%;
}

