@font-face {
    font-family: "Schibsted Grotesk";
    src: url("/static/Schibsted_Grotesk/SchibstedGrotesk-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Schibsted Grotesk";
    src: url("/static/Schibsted_Grotesk/SchibstedGrotesk-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: italic;
}

.tint-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.3);
    z-index: 100;
}

.profile-icon {
    transform: scale(1.4)
}

.word-tally-box {
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none;
    min-height: 100%;
    /* max-width: 100%; */
    gap: 0.25rem;
}

.word-tally-box::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

/* 
.prompt-box .word-tally-box:nth-child(1) .tally, .prompt-word {
  border-color: color-mix(in srgb, var(--4) 100%, var(--text-color) 0%);
}
.prompt-box .word-tally-box:nth-child(2) .tally, .prompt-word{
  border-color: color-mix(in srgb, var(--4) 80%, var(--text-color) 20%);
}
.prompt-box .word-tally-box:nth-child(3) .tally, .prompt-word {
  border-color: color-mix(in srgb, var(--4) 60%, var(--text-color) 40%);
}
.prompt-box .word-tally-box:nth-child(4) .tally, .prompt-word {
  border-color: color-mix(in srgb, var(--4) 40%, var(--text-color) 60%);
}
.prompt-box .word-tally-box:nth-child(5) .tally, .prompt-word {
  border-color: color-mix(in srgb, var(--4) 20%, var(--text-color) 80%);
}
.prompt-box .word-tally-box:nth-child(6) .tally, .prompt-word {
  border-color: color-mix(in srgb, var(--4) 0%, var(--text-color) 100%);
} */

.footer-div {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 0.5rem;
    text-align: left;
}
.footer-div div {
    display: inline;
}
.footer-div p {
    display: inline;
    margin: 0.5rem;
}
.footer-div p, .footer-div a {
    font-size: 1.1rem;
    color: var(--grayed-out-color);
}

.footer-div a:hover{
    color: var(--grayed-out-color);
    text-decoration-color: var(--grayed-out-color);
}


.finish-summary {
    margin: 0;
    font-size: 2.2rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: var(--grayed-out-color);
}
html {
    font-display: optional;
    font-family: "Schibsted Grotesk", system-ui, -apple-system, "Segoe UI",
               Roboto, "Helvetica Neue", Arial, sans-serif;
    font-optical-sizing: auto;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden;
}
/* Topbar game icon (?) and switch (darkmode) */
.switch {
    display: inline-block;
    color: var(--text-color);
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 3rem;
    transition: transform 0.2s;
    }

.switchContainer:active{
    transform: scale(0.88);
    transform-origin: center;
}

.switch--outlined {
    margin-top: 1.5em;
    font-size: 2em;
    padding: 2em 2em;
    outline: 1px solid var(--grayed-out-color);
}

.switch, .game-icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 0em;
    box-sizing: border-box;
}
  .game-icon {
      padding: 0.5em;
      width: 4rem;
  }

  #information {
      flex: 1;
  }

  #information p {
    font-size: 1.5rem;
  }
  
.tally:not(.prompt-word) {
    transition: max-width 0.2s ease, padding 0.2s ease, background-color 0.2s ease, transform 0.2s ease;
    flex: 0 0 auto;
    min-width: 1.25rem;
    padding: 0;
    min-height: 100% !important;
    border: 1px solid var(--4);
    background-color: var(--background-color);
    transform: scale(1);
}

.tally:not(.prompt-word).updateInnerTextSmooth {
    transform: scale(1.1);
    background-color: var(--hover-color);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

  .switchContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 3em;
  }


.help {
    background-color: var(--background-color);
    position: absolute; 
    left: 0; 
    right: 0; 
    padding: 2rem;
    top: 10vh;
    margin-left: auto; 
    margin-right: auto; 
    min-width: 60vw;
    max-width: 70vw;
    max-height: 80vh;
    outline: 1px solid var(--4);
    display: none;
    justify-content: center;
    z-index: 3;
}

.help .credits {
    font-size: 1.3rem;
    color: var(--grayed-out-color)
}
#finish-container p {
    margin: 0.25rem 0;
}

#finish-container .inline-title {
    font-family: "Inter", sans-serif;
    margin-bottom: 2rem;
}

#startHelpButton {
    margin: 2rem 0.8rem;
}

#startGameLink{
    font-size: 1.2rem;
    color: var(--grayed-out-color);
    text-decoration: underline;
    cursor: pointer;
}

.help-close, .finish-close {
   transition: transform 0.2s;
   position: absolute; 
   top: 0.5em;
   right: 0.5em;
   background: transparent;
   color: var(--grayed-out-color);
   border: none;
   outline: none;
   cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.help-close {
    font-size: 4em;
}

.help-close:active {
    transform: scale(0.88);
}

.finish-close:active {
    transform: scale(0.88);
}

.finish-close {
       font-size: 2em;
}


#finish-container .daily-idx-tag{
    font-family: "Inter", sans-serif;
    position: absolute;
    top: 2rem; 
    left: 1rem;
    transform: rotate(-15deg);
    transform-origin: left top;
    display: inline-flex;
    align-items: baseline;
    gap: 0em;
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--grayed-out-color-unfocused);
}


#finish-container .daily-idx {
    font-family: "Inter", sans-serif;
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.8rem;
}

#finish-container .selectedWords, .solutionWords {
    font-size: 1.4rem;
    /* color: var(--hover-color); */
}
#finish-container .selectedWords, .solutionWords {
  text-align: left;
  margin-bottom: 0rem;
  padding: 2rem 0 0 0rem;
  overflow: hidden hidden;
  line-height: 1.4;
}

.selectedWords p {
    display: inline;
}

.profile-icon {
    color: var(--text-color);
}

#shareLink {
    text-decoration: none;
    font-size: 1.3rem;
}

#finish-container a {
    color: var(--text-color);
    font-weight: 300;
}

#skip-button {
    display: none;
}

.finish-container {
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    align-items: center;
    justify-content: space-around;
    gap: 1.5rem;
    color: var(--text-color);
    padding: 2em 1em;
    border-radius: 16px;
    text-align: center;
    margin: 1em 1em 1em 2em;
    z-index: 2;
}


.solution-title {
    /* font-size: 1.8rem; */
    margin-bottom: 1rem !important
}

.finish-container > :last-child {
}

.finish-container .stat-column {
  flex: 1;         
  height: 100%;   
  flex-wrap: wrap;
  justify-content: space-between;
}

.stat-column {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

#modal-finish-guest {
    padding: 2rem;
}
#modal-finish-guest .finish-container {
    gap: 2.5rem;
}
#modal-finish-guest .stat-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: center;
    justify-content: space-around;
}

.stat-row {
    width: 100%;
    text-align: center;
}

.finish-container .stat {
    font-size: 3.2em;
    margin-top: 0;
    margin-bottom: 0.25em;
    color: var(--hover-color);
    max-height: 40vh;
}

.finish-container .stat p {
    font-size: 1rem;
}


#finish-container button {
    margin: 0.5rem;
}


.help-container {
    /* background-color: var(--background-color); */
    justify-content: space-around;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    z-index: 11;
}

#info-box p {
    font-size: 1.1rem;
    margin: 0 0;
}

.nsm7Bb-HzV7m-LgbsSe {
    background-color: transparent !important;
    border: 1px solid var(--border-color) !important;
    color: var(--text-color) !important;
    height: 3.5rem !important;
}

.logged_in-buttons {
    display: none;
}

#logged_in-buttons p{
    font-size: 1.4rem;
}

#logged_in-buttons button{
    font-size: 1.4rem;
}

.logged_in-username {
    display: inline-block;
}

.guest-buttons {    
    display: flex;
}

.guest-buttons, .logged_in-buttons {
    flex-direction: row;
    padding: 0em 0em 2em 0em;
    justify-content: space-around;
    align-items: baseline;
    gap: 2.5rem;
}

.help button {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 1.5em;
    padding: 0.5em 2em;
    border: none;
    border-radius: 1.5em;
    cursor: pointer;
    transition: background 0.2s;
    outline: 1px solid var(--border-color);
    margin-top: 1.5em;
}

.--grayed-out {
    color: var(--grayed-out-color);
}
.--small {
    font-size: 1.2em;
}

.help p{ 
    font-size: 1.8em;
}

#information span{
    font-size: 1.3em;
}

button {
    outline: 1px solid var(--border-color);
 }

button {
    transition: background 0.2s, color 0.2s, transform 0.2s
}

button:not(.grayed-out):active {
    transform: scale(0.96);
    /* box-shadow: 0 4px 16px rgba(0,0,0,0.15); */
}



button span {
    display: inline-block;
}
  

 .link:hover {
    color:  var(--hover-color);
 }
  

 .link:focus {
    outline: none;
 }

 .link {
    height: 8vh;
    min-width: 15vw;
    text-align: center;
    border:none;
    outline:none;
    background-color: transparent;
    color: var(--text-color);
    transition: color 0.2s;
 }

.link--transition--disabled{
  color: var(--grayed-out-color);
}

.link--starting{
    color: var(--grayed-out-color)!important;
}

.link--disabled{
    pointer-events: none;
    color: var(--grayed-out-color);
}

.link--unfocused{
    pointer-events: none;
    color: var(--grayed-out-color-unfocused);
    transition: transform 0ms ease-out, color 0ms ease-out;
}

.link--help-target {
    color: var(--grayed-out-color-help-target);
}

.link--target {
    animation: pulse 0.7s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.08);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes pulse-2 {
    0% {
        transform: scale(1.12);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1.12);
    }
}


.promptEndBanner {
    font-family: "Inter", sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6rem;
    font-weight: 700;
    /* text-transform: lowercase; */
    letter-spacing: -0.16rem;
    text-align: center;
    z-index: 9999;
    pointer-events: none;
    line-height: 0.92;
    position: fixed;
}

.banner-perfect {
    color: var(--banner-perfect);
}
.banner-impressive {
    color: var(--banner-impressive);
}
.banner-great {
    color: var(--banner-great);
}
.banner-good {
    color: var(--banner-good);
}
.banner-closecall {
    color: var(--banner-closecall); 
}

.prompt--done {
    color: var(--grayed-out);
}

.prompt-num-large{
    font-size: 1.9em !important;
}

#global {
    display: flex;
    flex-wrap: wrap;
    height: 88vh;
    max-height:88vh;
    /* gap: 8vw; */
    align-content: flex-start;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}



#settings {
    margin-top: 2vh;
    max-height: 8vh;
    padding: 0 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    /* max-height: 8vh; */
}


#information {
    flex: 1;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.switchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 3em;
}

#information p {
    margin: 0 auto;
}

#prompts-bar-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: var(--grayed-out-background);
    z-index: -1;
    pointer-events: none;
}

#prompts-bar {
  height: 100%;
  width: 0%; /* will be dynamically updated */
  background-color: var(--text-color);
  /* border: 1px solid var(--4); */
  transition: width 0.3s ease;
}

#prompts-title {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    gap: 2rem;
    width:100%;
    padding: 0.5rem;
    border: 1px solid var(--4);
    margin-bottom: 2vh;
}

#prompts-title p{
    display: inline-block;
    vertical-align: middle;
}


#prompts-container {
    font-size: 1.8rem;
}

#prompts-count {
    display: inline-block;
    color: var(--grayed-out-color);
}

#prompts-count-remainder {
    display: flex;
    color: var(--grayed-out-color-unfocused);
    display: inline-block;
    vertical-align: top;
    margin-left: auto;
}


#prompts-title-heading {
    margin: 0 0;
    font-family: "Inter";
    font-weight: 600;
    text-align: center;
    color: var(--grayed-out-color);
}

#information span {
    /* margin: 0 0.2em; */
    /* font-size: 1.3em; */
}


#prompts-container {
    justify-content: flex-start;
    margin-top: 0.5rem;
}
#prompts-container, #wordspace-container {
    flex-direction: column;
  display: flex;
  align-items: center;       
}
#wordspace-container {
  justify-content: center;   
}
    /*       top  left   bottom    right */
#wordspace {
    width: 60vw;
    height: 80vh;
    padding: 3rem 6rem 3rem 6rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1.3fr 1fr 1fr 1fr;
    gap: 4px 6px; /* 4px vertical, 6px horizontal */
    margin-left: auto;
    margin-right: 0;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

#wordspace button { 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.1em;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: transform 400ms ease, color 400ms ease ;
    /* border: 1px solid var(--border-color); */
}

#wordspace button:active{
    transform: scale(0.92);
}

#info-box {
    display: none;
    padding: 0.8rem;
    border: 2px solid var(--text-color);
}

#prompts {
    padding: 0rem 0.5rem 0.5rem;
    gap: 0.5rem;
    width: 32vw;
    max-width: 32vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 72vh;
}

.solutions {
    text-align: left;
}
.prompt-box {
    position: absolute;
    overflow: hidden;
    overflow-x: scroll;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
    padding: 0 0;
    border: none;
    display: flex;
    align-items: center;
    min-height: 6rem;
    max-height: 7rem;
    justify-content: space-between;
    font-size: 1.6rem;
    position: relative;
    z-index: -1;
    gap: 0.25rem;
    flex-direction: row;
    /* pointer-events: none; */
    /* border-left: 1px solid var(--grayed-out-color); */
}

.prompt-box::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.prompt-box .word-tally-box:nth-child(6) .tally:not(.prompt-word) {
    display: none;
}
    /* position: absolute;
    display: flex;
    flex: 1;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height:100%;
    padding: 0 1.2vw;
    gap: 0.5rem;
    pointer-events: none;
    flex-direction: row; Added */

.no-border {
  border: none !important;
}


.prompt-box {
    z-index: 0; /* was -1; remove this line if unnecessary */
}




.prompt-start-word {
    border-color: var(--grayed-out-color) !important;
    color: var(--grayed-out-color) !important;
    transition: transform 0.2s ease;
}

.prompt-word {
  max-width: 0;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  transition: max-width 0.2s ease, padding 0.2s ease, background 0.2s ease, transform 0.2s ease;
  padding: 0rem 0.5rem;
}

.hover-start {
    display: inline-block;
    transition: transform 0.4s ease;
    font-style: italic;
    transform: scaleY(0.98);
}

/* .hover-start.link--starting {
    transform: scale(1.06);
} */


.prompt-box .prompt-word, .tally {
    min-height: 100%;
    display: inline-block;
    white-space: nowrap;
    max-width: 24rem;
    min-width: 0;
    width: auto;
    position: relative; /* necessary for z-index to apply */
    z-index: 1;
    padding: 0rem 2.5rem;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center;

}

 .tally {
    transition: max-width 0.5s ease, padding 0.2s ease-out, background 0.2s ease;
    padding: 1rem;
    color: var(--4);
    overflow:hidden;
 }

.prompt-box .prompt:hover {
  /* z-index: 10; bring hovered .prompt-word to front within its box */
}

.prompt-box .prompt-word:hover {
    z-index: 999;
    /* border: 1px solid var(--text-color);*/
}


.prompt div {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 2em;
}
/* .prompt-box .prompt :first-child {
    text-align: left;
}

.prompt-box .prompt :nth-child(2) {
    text-align: right;
} */

#prompts p {
    font-size: 1.4em;
    padding: 0 0;
    margin-block-start: 0;
    margin-block-end: 0;
}
    /*******************/
 /**Game Over Modal*/
/*****************/

.modal h1 {
        font-size: 2.1em;
        margin-top: 0.5em;
        margin-bottom: 0.8em;
        letter-spacing: 0.01em;
        line-height: 1.2;
        text-align: center;
}
#modal-finish-user {
    padding-bottom: 2rem;
}
#modal-finish-user #scoresGraph{
    max-width: 60vw; 
    max-height: 40vh;
}


#modal {
    padding: 2rem;
    font-size: 1.8rem;
}

#modal-finish-guest, #modal-finish-user {
    font-size: 1.2rem;
    color: var(--text-color);
}

#modal-finish-guest .finish-word,
 #modal-finish-user .finish-word {
    border: 1px solid var(--4);
    color: var(--grayed-out-color-help-target);
}
.finish-word-start {
    color: var(--grayed-out-color);
}

.finish-word-end {
    color: var(--text-color);
}


#modal-finish-guest a, #modal-finish-user a{
        color: var(--text-color) !important;
}

#modal, #modal-finish-guest, #modal-finish-user{
    flex-direction: column;
    display: none;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    min-width: 40vw;
    min-height: 40vh;
    max-width: 80vw;
    max-height: 90vh;
    background-color: var(--background-color);
    outline: 1px solid var(--4);
    z-index: 4;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.modal button {
        background-color: var(--background-color);
        color: var(--text-color);
        font-size: 1.1em;
        padding: 0.5em 2em;
        margin: 2em;
        border: none;
        border-radius: 1.5em;
        cursor: pointer;
        transition: background 0.2s;
        outline: 1px solid var(--border-color);
}
/* Scale animation for jumps */
@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}

.animate-scale-infinite {
    animation: scaleUp 1s infinite;
}

.animate-scale {
    animation: scaleUp 300ms ease;
}


  /*******************/
 /*** ANIMATIONS ***/
/*****************/

/* Pulsing dots animation: used in tutorial screen. */


  #dots-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 4rem;
      margin-top: 20px;
  }

  .dot {
      animation: blink 1s infinite;
      animation-delay: calc(var(--i) * 0.5s);
      margin: 0 8px;
  }

  .dot:nth-child(1) { --i: 0; }
  .dot:nth-child(2) { --i: 1; }
  .dot:nth-child(3) { --i: 2; }

  @keyframes blink {
      0% { opacity: 0.2; }
      50% { opacity: 1; }
      100% { opacity: 0.2; }
  }

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes rainbow_animation {
    0% {
      background-position: 0 0;
    }
  
    100% {
      /*50% + width of single cell */
      background-position: 63% 0;
    }
  }
  
#rainbow_text_animated:hover{
    opacity: 1;
    animation: pulse-2 0.7s infinite;
    color: var(--emphasis-color);
}

#rainbow_text_animated:hover span {
    color: var(--emphasis-color) !important;
}
#modalText {
    font-size: 1.8rem;
    color: var(--text-color);
    text-align: center;
    padding: 1em;
    margin: 0 auto;}

/* .rainbow_text_animated {
overflow: hidden;
opacity: 1;
background: linear-gradient(
    to right,
    #8b0000,
    #b34700,
    #cccc00,
    #b34700,
    #8b0000
);
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
background-clip: text;
color: rgba(255, 255, 255, 0.1);
animation: rainbow_animation 7s linear infinite;
background-size: 500% 100%;
-webkit-text-fill-color: rgba(200, 200, 200, 0.2);
animation-duration: 1s;
background-size: 800% 100%;
} */

#rainbow_text_animated {
    color: var(--emphasis-color);
}


#login-welcome {
  display: none;
  /* max-height: 4vh; */
  color: var(--text-color);
  padding-left: 1.2rem;
  max-height: 4vh;
}

.welcome-title,
.welcome-email {
  text-align: left;
  margin-right: 0.2rem;
  width: 100%;
  color: var(--text-color);
}

.welcome-title {
  font-size: 1.1em;
}

.welcome-email {
  font-size: 0.98em;
  color: var(--text-color);
  word-break: break-all;
}