@media only screen and (max-width: 992px) {
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    #global{
        gap: 0vw;
    }
    #wordspace {
        width: 100vw;
        height: 48vh;
        /*       top  left   bottom    right */
        justify-items: center;
        justify-content: center; 
        padding: 1.5rem 5rem 1.5rem 5.5rem;
    }

    #prompts-container {
    font-size: 1.2rem;
    margin-top: 0vh;
    }

    #prompts-bar-container {
        margin: 0 0;
    }
    .stat-subtitle {
        font-size: 1.1rem;
    }
    #settings { 
        margin-top: 1vh !important;
        max-height: 6vh;
        padding: 0 1em;
        margin: 0 0;
    }
    #settings p {
        font-size: 1.1rem;
    }
    #settings span{ font-size: 1.4rem; }


    .footer-div p {
        display: inline-block;
        font-size: 1rem;
    }

    .footer-div {
        max-height: 4vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        max-width: 100vw;
        padding: 0rem;
        margin: 0 0;
        margin-top: 1rem 0;
    }
    
    .guest-buttons {
        display: flex;
        flex-direction: column;      
        align-items: center;        
        justify-content: center;  
        gap: 1rem;  
    }
    .help-close {
        font-size: 3rem;
        top: 0.25em;
        right: 0.25em;
    }

    .help-container .switch--outlined{
        margin-top: 0em;
    }

    #prompts {
        gap: 0.4rem;
        padding: 0.8rem 0.8rem;
        width: 100vw;
        min-height: 30vh;
        max-height: 32vh;
        max-width: none;
        justify-content: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    #prompts-title {
        border-top: none;
        border-bottom: none;
        border-right: none;
        border-left: none;
        font-size: 1.4rem;
        padding: 0.3rem;
        max-height: 6vh;
        margin: 0 0;
    }
    #prompts p {
        font-size: 1.2rem;
    }

    .prompt-box .prompt-word {
        min-width: 6rem;
        /* max-width: 9rem; */
    }

    .tally:not(.prompt-word) {
    max-width: 0.3rem;
    min-width: 0.3rem ;
    padding: 0;
    }
    .prompt-box {
        /* outline: 1px solid var(--border-color); */
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 5vh;
        min-height: 5vh;
        font-size: 1.1rem;
        
    }
    .switch, .game-icon {
        padding: 0.5em 0em;
        align-items: top;
        justify-content: center;
    }
    .switch {
            font-size: 2rem;
    }
    .game-icon {
        width: 2rem;
    }
    #global {display: flex; flex-wrap: wrap;}
    #wordspace button {
    display: flex;
    align-items: center;
    justify-content: center;
    }
    #wordspace span {
        font-size: 1.15rem !important;
    }
    #wordspace button {width: 25vw !important;}

    /* These are to disable the focus and hover effects on buttons and spans */
    #wordspace button:focus, 
    #wordspace span:focus {
        outline: none;      
        transform: none;    
        background-color: inherit; 
        box-shadow: none;  
    }

    switch:active, switch:hover, svg:hover, svg:active {
        transform: none !important;
    }
    
    #wordspace button:hover, 
    #wordspace span:hover, 
    #wordspace span:focus, 
    #worspace button:focus{
        transform: none;    
        background-color: inherit; 
        color: var(--text-color);  
    }

    * {
        -webkit-tap-highlight-color: transparent;
    }

    #modal #modalText {
        font-size: 1.4rem;
    }
    .profile-icon {
        transform: none !important;
    }

    #modal {
        max-width: 90vw;
        min-height: 50vh;
        min-width: 85vw;
    }
    #modal button {
        font-size: 1.4rem;
    }
    /* ************ */
    /* Help screen */
    /* *********** */
    .help {
        width: 95vw;
        height: 73vh;
        max-width: 95vw;
        
        padding: 0 0;
    }
    #info-box {
        background-color: var(--background-color);
        padding: 0.7rem;
        border: none;
        position: absolute;
        min-width: 60vw;
        flex-wrap: wrap;
        z-index: 3;
    }

    .link {
        min-width: 30vw;
    }
    .help-container {
        max-width: 100%;
        background-color: var(--background-color);
        display: flex;
        flex-wrap: nowrap;
        padding: 1em 1.5em;
        flex-direction: column;
        align-items: center;
        z-index: 2;
    }
    .switchContainer {
        min-width: 0em;
    }
    #modal-finish-guest, #modal-finish-user {
        width: 92vw;
        max-width: 92vw;
        /* padding: 2rem; */
    }
    #modal-finish-guest .stat-row{
        width: 100vw;
        align-items: flex-start;
    }
    .finish-container {
        padding: 0; 
        gap: 0.5rem;
    }

    #finish-container {
        font-size: 1.2rem;
        max-width: 100%;
        max-height: 100%;
    }

    #finish-container .daily-idx{
        font-size: 2.2rem;
    }

    #finish-container .daily-idx-tag{
        font-size: 1.6rem;
    }


    #share-link, #share-link a{
        font-size: 1.3rem;
        padding: 0rem;
        padding-top: 2rem;
    }

    .finish-container .stat {
        font-size: 2.8rem;
    }

    .finish-container p {
        margin: 0 0;
    }
    
    .finish-text-end, .finish-text-end a{
        color: var(--grayed-out-color) !important;
    }

    .finish-container .solutions{
        margin-top: 1rem;
    }
    .stat-column {
        gap: 3rem !important;
        flex-direction: row;
    }
    .finish-container .stat-row {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        padding: 0.5rem 0rem;
        gap: 0.5rem !important;
        width: 100vw;
        align-content: flex-start;
        align-items: center;
    }
    .stat-row > div {
    display: flex;
    flex-direction: column;
    align-items: center; 
    }
    #finish-container h1 {
        font-size: 2.2rem;
        margin: 0 0;
    }
    #finish-container h1,  #finish-container button{
        /* font-size: 1rem; */
    }
    /* #finish-container h1{
        font-size: 1.8rem;
        font-weight: 300;
    } */
    .modal button {
        font-size: 1.7rem;
        padding: 1rem 7rem;
    }

    .modal h1 {
        font-size: 3.5rem;
    }
    .modal p {
        font-size: 1rem;
        margin: 0 0;
        text-align: center;
    }
    /* .modal button {
        font-size: 3rem;
    } */

    .help-text .--grayed-out {
        font-size: 1.2rem;
    }
    .guest-buttons {
        flex-wrap: wrap;
    }

    .logged_in-buttons {
        align-items: center;
        padding: 0em 1em 2em 1em;
    }

    .prompts > div {
    border-top: 1px solid;
    }

    .prompts > div:first-child {
    border-top: none;
    }

    .help button {
        background-color: var(--background-color);
        color: var(--text-color);
        font-size: 1rem;
        padding: 0.5rem 2rem;
        border: none;
        border-radius: 1.5rem;
        cursor: pointer;
        transition: background 0.2s;
        outline: 1px solid var(--border-color);
    }

    .help-text p{
        font-size: 1.5rem;
        margin: 1em 0.1em;
    }
}